/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
    --color-bg: #fff;
    --color-primary: #b6ccd6;
    --color-secondary: #edf9ff;
    --color-text-main: #000000;
    --color-text-header: #2800ff;
    --color-text-selected: #ffffff;
    --color-bg-selected: #39D6F9;
    --wrapper-height: 85vh;
    --sidebar-width: 32rem;
    --padding-width: 4rem;
    --image-max-width: 320px;
    --font-family: "Helvetica";
    --font-family-header: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;

    --h1-font-size: 5rem;
    --h2-font-size: 4rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.5rem;
    --h5-font-size: 1.25rem;
    --text-font-size: 1rem;
    --small-font-size: 0.8rem;
}

/* Basic page style resets */
* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

/* Import fonts */
@font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
}

@font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
}

/* Navigation grid */
.footer {
    display: flex;
    justify-content: center;
    margin: 1rem 3rem 0;

    padding: 1rem 0 0.75rem 0;
    flex-wrap: wrap;
    border-top: 4px solid var(--color-secondary);
}

.footer a:hover {
    background: var(--color-primary);
}

.footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: nowrap;
}

.header {
    height: 6rem;
    margin: 3rem 2rem 0;
    border-bottom: 4px solid var(--color-secondary)
}

.header .item {
    padding: 0;
    color: var(--color-text-primary);
}

.header .links {
    position: absolute;
    height: 4rem;
    top: 5rem;
    right: 10rem;
    white-space: nowrap;
}

.header .links a {
    border-radius: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: inherit;
}

.header .links a:hover {
    border: none;
    background-color: var(--color-bg);
    border-bottom: 4px solid var(--color-primary);
}

.header .main-icon {
    display: block;
    position: absolute;
    left: 10rem;
}

.header .main-title {
    display: block;
    position: absolute;
    height: 6rem;
    top: 3rem;
    left: 15rem;
    padding: 0;

    font-size: 2rem;
    text-wrap: nowrap;
    font-family: var(--font-family-header);
    color: var(--color-text-primary);

}

.header .main-title a {
    background-color: var(--color-bg);
    border: none;
}

.divider {
    padding: 0 1rem;
}

/* Hide burger by default */
.burger {
    display: none;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

/******************************************************************************
  END Glitch hello-app default styles
  ******************************************************************************/

/* Page structure */
body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
}

.wrapper {
    margin: auto;
    margin-top: 2rem;
    /* max-width: 1600px; */
    min-height: var(--wrapper-height);
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    max-width: 900px;
    margin-left: calc(var(--sidebar-width) + var(--padding-width) + 6%);
}

.sidebar {
    z-index: 1;
    background-color: var(--color-bg);
    width: var(--sidebar-width);
    min-height: var(--wrapper-height);
    padding: 0 2rem 0 8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.sidebar .item {
    padding: 0.5rem 0rem;
    color: var(--color-text-main);

    font-size: 1.2rem;
    font-weight: 500;
}

.sidebar .item a {
    border-radius: none;
    border: none;
}

.sidebar .item a:hover {
    border: none;
    background-color: var(--color-bg);
    border-bottom: 4px solid var(--color-primary);
    border-radius: 0;
}

.unselectable {
    -webkit-user-select: none;
    user-select: none;
}


/* Typography */
p {
    margin: 0 0 var(--text-font-size) 0;
    line-height: 1.5 !important;
    font-size: var(--text-font-size);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2rem 0 0.8rem;
    font-family: var(--font-family-header);
    font-weight: 600;
    line-height: 1.1;
    color: var(--color-text-main);
}

h1 {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    font-size: var(--h1-font-size);
    display: inline-flex;
    color: var(--color-text-header);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

small,
.text_small {
    font-size: var(--small-font-size);
}

ul>li,
ol>li {
    margin-bottom: 0.75rem;
    line-height: 1.5;
    font-size: var(--text-font-size);
}

ul {
    list-style-type: none;
    padding: 0 0 0 18px;
    margin: 0;
}

ul.no-bullet {
    list-style-type: none;
}

th {
    border: 3px solid var(--color-primary);
}

td {
    border: 3px solid var(--color-primary);
}

hr {
    border: none;
    border-top: 3px solid var(--color-secondary);
    margin: 2rem 0;
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--foreground);
    border: 6px solid var(--color-bg);
    border-radius: 6px;
    
    transition-property: background, border;
    transition-duration: 0.2s;
}

a:hover {
    background: var(--color-primary);
    border: 6px solid var(--color-primary);
}

.selected {
    border: 6px solid var(--color-bg-selected);
    border-radius: 6px;
    color: var(--color-text-selected);
    background: var(--color-bg-selected);
}

/* Title style adjustments */
.title-lg {
    color: var(--color-text-main);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
}

.title-md {
    font-size: 56px;
}

/* Layout: Home */
.home {
    justify-content: left;
}

/* Post */
.post {
    place-items: normal;
}

.postTitle {
    font-size: 4rem;
    color: #000000;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.controls {
    margin: 3rem 0 2rem;
}

/* Accordion styles */

.accordion summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: max-height 100ms ease-out;
    interpolate-size: allow-keywords;
}

/* Hide the default marker */
.accordion summary::-webkit-details-marker {
    display: none;
}

/* Add custom marker to the right */
.accordion summary::after {
    content: "<";
    font-weight: bold;
    transition: transform 0.1s
}

/* Change marker when open (you can use a tick or any other symbol) */
.accordion[open] summary::after {
    transform: rotate(-90deg);
}

/* smaller screens - hide sidebar*/
@media (max-width: 1600px) {
    .sidebar {
        width: var(--sidebar-width);
        height: 100vh;
        padding: 0 2rem 0 2rem;
        transform: translateX(-120%);
        z-index: 1000;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin: 0 auto;
    }
    
    .header .main-title {
        left: 15rem;
    }

    .header .main-icon {
        display: block;
        position: absolute;
        left: 10rem;   
    }

    .header .links {
        right: 3rem;
    }

    .burger {
        position: absolute;
        left: 3rem;
        width: 5rem;
        height: 5rem;
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .burger span {
        display: block;
        margin: 0;
        border: none;
        width: 50%;
        height: 3px;
        background: #000;
        transform-origin: 0% 50%;
        position: relative;
        top: 12px;
        left: 25%;
        transition: .15s;
    }

    .burger span:nth-of-type(2) {
        top: 21px;
    }

    .burger span:nth-of-type(3) {
        top: 30px;
    }

    .burger.active span {
        left: 30%;
    }

    .burger.active span:nth-of-type(1) {
        transform: rotate(45deg);
        width: 43%;
    }

    .burger.active span:nth-of-type(2) {
        opacity: 0;
    }
    
    .burger.active span:nth-of-type(3) {
        top: 30px;
        transform: rotate(-45deg);
        width: 43%;
    }
}

/* even smaller screens - change the entire website */
@media (max-width: 900px) {
    :root  {
        --h1-font-size: 36px;
        --h2-font-size: 32px;
        --h3-font-size: 24px;
        --h4-font-size: 20px;
        --h5-font-size: 18px;
        --text-font-size: 16px;
        --small-font-size: 14px;
    };

    .sidebar {
        padding: 0 24px 0 0;
        width: 100%;
        height: 100%;
    }

    .sidebar.active {
        transform: translateX(0);
        position: relative;
    }

    .sidebar.active ~ .content {
        display: none;
    }

    .content {
        margin: 0 auto;
    }

    .header .main-title {
        display: none;
    }

    .header .main-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        top: 26px;
        width: 100%;
        left: 0;
        right: 0;
    }

    .header .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        top: 6rem;
        width: 100%;
        left: 0;
        right: 0;
    }

    .header .links a {
        top: 0;
        height: auto;
    }

    .burger {
        top: 26px;
        left: 0;
        width: 5rem;
        height: 5rem;
    }


}
